@model LuanVan.Models.PhongAn

@{
    ViewBag.Title = "formsuaphongan";
    Layout = "~/Areas/Admin/Views/_LayoutPageAdmin.cshtml";
}

<h2>Sửa Thông Tin Phòng Ăn</h2>

@using (Html.BeginForm("actsuaphong", "Admin", FormMethod.Post))
{
    <div>
        @Html.ActionLink("Quay Lại", "LstPhongan")
    </div>
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Thông Tin Phòng Ăn </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label>ID Phòng Ăn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phongan_id, new { htmlAttributes = new { @class = "form-control", @readonly="readonly"} })
                @Html.ValidationMessageFor(model => model.phongan_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Tên Phòng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phongan_ten, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phongan_ten, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Mô Tả</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phongan_mota, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phongan_mota, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Trạng Thái Phòng</label>
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.phongan_trangthai)
                    @Html.ValidationMessageFor(model => model.phongan_trangthai, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Số Lượng Bàn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.tongsoban, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tongsoban, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Giá Phòng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phongan_gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phongan_gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </div>
    </div>
}


