@model LuanVan.Models.PhieuNhap

@{
    ViewBag.Title = "formNhapKho";
    Layout = "~/Areas/Admin/Views/_LayoutPageAdmin.cshtml";
}

<h2>Trang Nhập Nguyên Liệu</h2>

@using (Html.BeginForm("actNhapKho","admin",FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Thông Tin Nguyên Liệu</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="select-wrap one-forth">
            <label>Nguyên Liệu</label>
            <div class="icon"><span class=" ion-ios-arrow-down"></span></div>
            @Html.DropDownListFor(Model => Model.nguyenlieu_id, ViewBag.dsNguyenLieu as SelectList, new { @class = "form-control" })
        </div>
        @*<div class="select-wrap one-forth">
            <label>Nước Uống</label>
            <div class="icon"><span class=" ion-ios-arrow-down"></span></div>
            @Html.DropDownListFor(Model => Model.nuocuong_id, ViewBag.dsNuocUong as SelectList, new { @class = "form-control" })
        </div>*@

        <div class="form-group">
           <label>Ngày Nhập</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phieunhap_ngaynhap, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phieunhap_ngaynhap, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Ngày Hết Hạn</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phieunhap_ngayhethan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phieunhap_ngayhethan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Số Lượng</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.phieunhap_soluong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phieunhap_soluong, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label>Giá</label>
            <div class="col-md-10">            
                @Html.EditorFor(model => model.phieunhap_gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.phieunhap_gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay Lại", "Kho")
</div>
